# Environnements
.venv/
.myenv/
venv/
env/
.venv_meteo/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Jupyter / IDE
.ipynb_checkpoints/
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

models/pipeline.joblib
mlflow.db
scripts/mlflow_env.local.sh
mlruns/
data/processed/
data/raw/weatherAUS.csv
scripts/env.local.sh
env


logs/preds_api.csv

outputs/*
!outputs/preds_api.csv
!outputs/preds_api.csv.dvc
!outputs/.gitignore
